$light-purple: #4C00C2;
$medium-purple: #3B058E;
$dark-purple: #32007E;
$beige: #E5E5E5;
$light-grey: #D3D8E1;
$white: #FFFFFF;
$medium-grey: #798291;
$dark-grey: #444E5D;
$dark: #1A212C;
$green: #19AC51;
$red: #FC484C;
$card-green-right: #3FC4C3;
$card-green-left: #41c9c7;

$spacing-4: 4px;
$spacing-8: 8px;
$spacing-16: 16px;
$spacing-24: 24px;
$spacing-32: 32px;
$spacing-40: 40px;
$spacing-48: 48px;
$spacing-56: 56px;

$font-size-10: 10px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-24: 24px;
$font-size-30: 30px;

$border-radius-small: 16px;
$border-radius-medium: 24px;
$border-radius-big: 100px;