@import './_settings.scss';

.cards-container {
    position: relative;
    width: 310px;
    padding-bottom: $spacing-56;    
    margin: $spacing-24 auto;
    text-align: center;

    h1 {
      color: $light-purple;
    }

    .cards {
      margin: $spacing-40 auto;
    }

    .btn-add-new-card {
      position: absolute;
      bottom: 0;      
      left: 0;
      width: 100%;
      height: 50px;
      font-size: $font-size-16;  
      font-weight: 900;
      color: #fff;
      cursor: pointer;
      background-color: $light-purple;
      border: none;
      border-radius: 100px;
    }
}

.heading {
  display: block;
  text-align: left;

  p {
    margin: $spacing-8 0;
    color: $medium-grey;
  }
}